{
  "openapi": "3.0.3",
  "info": {
    "version": "0.4.0",
    "title": "Health NZ | Te Whatu Ora Shared Care FHIR API",
    "description": "Health NZ | Te Whatu Ora Shared Care FHIR API",
    "license": {
      "name": "TBC",
      "url": "https://licence.example.org"
    },
    "contact": {
      "name": "Health New Zealand Te Whatu Ora",
      "url": "https://www.tewhatuora.govt.nz"
    }
  },
  "externalDocs": {
    "url": "https://fhir-ig.digital.health.nz/shared-care",
    "description": "FHIR Implementation Guide"
  },
  "servers": [
    {
      "url": "https://fhir.ap1.digital.health.nz/R4",
      "description": "Health NZ | Te Whatu Ora Shared Care FHIR API"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "System level interactions",
        "description": "System level interactions",
        "tags": [
          "system"
        ],
        "operationId": "systemInteractions",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful system level interaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resourceType": {
                      "type": "string",
                      "enum": [
                        "Bundle"
                      ],
                      "description": "Resource type must be a Bundle."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "transaction-response"
                      ],
                      "description": "The type of response (e.g., transaction-response or batch-response)."
                    },
                    "entry": {
                      "type": "array",
                      "description": "Entries in the bundle representing resources involved in the interaction.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resource": {
                            "type": "object",
                            "description": "A resource in the bundle."
                          },
                          "fullUrl": {
                            "type": "string",
                            "description": "The full url of the resource"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceType": {
                    "type": "string",
                    "enum": [
                      "Bundle"
                    ],
                    "description": "Resource type must be a Bundle."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "description": "The type of bundle (e.g., transaction or batch)."
                  },
                  "entry": {
                    "type": "array",
                    "description": "Entries in the bundle representing resources involved in the interaction.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "resource": {
                          "type": "object",
                          "description": "A resource in the bundle."
                        },
                        "request": {
                          "type": "object",
                          "description": "A resource in the bundle.",
                          "properties": {
                            "method": {
                              "type": "string",
                              "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "DELETE"
                              ],
                              "description": "The HTTP method used for the request."
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL for the request."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Bundle/{rid}": {
      "get": {
        "summary": "Read Bundle",
        "description": "Read Bundle",
        "tags": [
          "Bundle"
        ],
        "operationId": "readBundle",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Base-Profile-Bundle"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful read operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful read operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful read operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful read operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Bundle.r"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete Bundle",
        "description": "Delete Bundle",
        "tags": [
          "Bundle"
        ],
        "operationId": "deleteBundle",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful delete operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful delete operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful delete operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful delete operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful delete operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Bundle.d"
            ]
          }
        ]
      },
      "put": {
        "summary": "Update Bundle",
        "description": "Update Bundle",
        "tags": [
          "Bundle"
        ],
        "operationId": "updateBundle",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful update operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Base-Profile-Bundle"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful update operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful update operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful update operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful update operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Bundle to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/Base-Profile-Bundle"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Bundle.u"
            ]
          }
        ]
      }
    },
    "/Bundle/{rid}/_history/{vid}": {
      "get": {
        "summary": "Read Bundle (versioned)",
        "description": "Read Bundle (versioned)",
        "tags": [
          "Bundle"
        ],
        "operationId": "vreadBundle",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource version id",
            "name": "vid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful vread operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Base-Profile-Bundle"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful vread operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful vread operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful vread operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful vread operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Bundle.r"
            ]
          }
        ]
      }
    },
    "/Bundle": {
      "get": {
        "summary": "Search for Bundle",
        "description": "Search for Bundle",
        "tags": [
          "Bundle"
        ],
        "operationId": "searchBundle",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resourceType": {
                      "type": "string",
                      "enum": [
                        "Bundle"
                      ],
                      "description": "Resource type must be a Bundle."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "searchset"
                      ],
                      "description": "The type of response (e.g., transaction-response or batch-response)."
                    },
                    "entry": {
                      "type": "array",
                      "description": "Entries in the bundle representing resources involved in the interaction.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resource": {
                            "type": "object",
                            "description": "A resource in the bundle.",
                            "anyOf": [
                              {
                                "$ref": "#/components/schemas/Base-Profile-Bundle"
                              }
                            ]
                          },
                          "fullUrl": {
                            "type": "string",
                            "description": "The full url of the resource"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful search operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful search operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful search operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful search operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Bundle.s"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create Bundle",
        "description": "Create Bundle",
        "tags": [
          "Bundle"
        ],
        "operationId": "createBundle",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_lastUpdated",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "date": {
                "value": "2024-12-02"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful create operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Base-Profile-Bundle"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful create operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful create operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful create operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful create operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Bundle to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/Base-Profile-Bundle"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Bundle.c"
            ]
          }
        ]
      }
    },
    "/CarePlan/{rid}": {
      "get": {
        "summary": "Read CarePlan",
        "description": "Read CarePlan",
        "tags": [
          "CarePlan"
        ],
        "operationId": "readCarePlan",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCarePlan"
                    }
                  ]
                },
                "examples": {
                  "CarePlan-CarePlanExample": {
                    "$ref": "#/components/examples/CarePlan-CarePlanExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful read operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful read operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful read operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful read operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/CarePlan.r"
            ]
          }
        ]
      }
    },
    "/CarePlan/{rid}/_history/{vid}": {
      "get": {
        "summary": "Read CarePlan (versioned)",
        "description": "Read CarePlan (versioned)",
        "tags": [
          "CarePlan"
        ],
        "operationId": "vreadCarePlan",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource version id",
            "name": "vid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful vread operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCarePlan"
                    }
                  ]
                },
                "examples": {
                  "CarePlan-CarePlanExample": {
                    "$ref": "#/components/examples/CarePlan-CarePlanExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful vread operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful vread operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful vread operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful vread operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/CarePlan.r"
            ]
          }
        ]
      }
    },
    "/CarePlan": {
      "get": {
        "summary": "Search for CarePlan",
        "description": "Search for CarePlan",
        "tags": [
          "CarePlan"
        ],
        "operationId": "searchCarePlan",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resourceType": {
                      "type": "string",
                      "enum": [
                        "Bundle"
                      ],
                      "description": "Resource type must be a Bundle."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "searchset"
                      ],
                      "description": "The type of response (e.g., transaction-response or batch-response)."
                    },
                    "entry": {
                      "type": "array",
                      "description": "Entries in the bundle representing resources involved in the interaction.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resource": {
                            "type": "object",
                            "description": "A resource in the bundle.",
                            "anyOf": [
                              {
                                "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCarePlan"
                              }
                            ]
                          },
                          "fullUrl": {
                            "type": "string",
                            "description": "The full url of the resource"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful search operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful search operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful search operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful search operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/CarePlan.s"
            ]
          }
        ]
      }
    },
    "/Condition/{rid}": {
      "get": {
        "summary": "Read Condition",
        "description": "Read Condition",
        "tags": [
          "Condition"
        ],
        "operationId": "readCondition",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCondition"
                    }
                  ]
                },
                "examples": {
                  "Condition-ConditionExample": {
                    "$ref": "#/components/examples/Condition-ConditionExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful read operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful read operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful read operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful read operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Condition.r"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete Condition",
        "description": "Delete Condition",
        "tags": [
          "Condition"
        ],
        "operationId": "deleteCondition",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful delete operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful delete operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful delete operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful delete operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful delete operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Condition.d"
            ]
          }
        ]
      },
      "put": {
        "summary": "Update Condition",
        "description": "Update Condition",
        "tags": [
          "Condition"
        ],
        "operationId": "updateCondition",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful update operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCondition"
                    }
                  ]
                },
                "examples": {
                  "Condition-ConditionExample": {
                    "$ref": "#/components/examples/Condition-ConditionExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful update operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful update operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful update operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful update operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Condition to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCondition"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Condition.u"
            ]
          }
        ]
      }
    },
    "/Condition/{rid}/_history/{vid}": {
      "get": {
        "summary": "Read Condition (versioned)",
        "description": "Read Condition (versioned)",
        "tags": [
          "Condition"
        ],
        "operationId": "vreadCondition",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource version id",
            "name": "vid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful vread operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCondition"
                    }
                  ]
                },
                "examples": {
                  "Condition-ConditionExample": {
                    "$ref": "#/components/examples/Condition-ConditionExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful vread operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful vread operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful vread operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful vread operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Condition.r"
            ]
          }
        ]
      }
    },
    "/Condition": {
      "get": {
        "summary": "Search for Condition",
        "description": "Search for Condition",
        "tags": [
          "Condition"
        ],
        "operationId": "searchCondition",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resourceType": {
                      "type": "string",
                      "enum": [
                        "Bundle"
                      ],
                      "description": "Resource type must be a Bundle."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "searchset"
                      ],
                      "description": "The type of response (e.g., transaction-response or batch-response)."
                    },
                    "entry": {
                      "type": "array",
                      "description": "Entries in the bundle representing resources involved in the interaction.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resource": {
                            "type": "object",
                            "description": "A resource in the bundle.",
                            "anyOf": [
                              {
                                "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCondition"
                              }
                            ]
                          },
                          "fullUrl": {
                            "type": "string",
                            "description": "The full url of the resource"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful search operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful search operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful search operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful search operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Condition.s"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create Condition",
        "description": "Create Condition",
        "tags": [
          "Condition"
        ],
        "operationId": "createCondition",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_profile",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful create operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCondition"
                    }
                  ]
                },
                "examples": {
                  "Condition-ConditionExample": {
                    "$ref": "#/components/examples/Condition-ConditionExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful create operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful create operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful create operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful create operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Condition to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiCondition"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Condition.c"
            ]
          }
        ]
      }
    },
    "/Consent/{rid}": {
      "get": {
        "summary": "Read Consent",
        "description": "Read Consent",
        "tags": [
          "Consent"
        ],
        "operationId": "readConsent",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source-reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-nz-sharedcare-consent"
                    }
                  ]
                },
                "examples": {
                  "Consent-ConsentByQuestionnaireExample": {
                    "$ref": "#/components/examples/Consent-ConsentByQuestionnaireExample"
                  },
                  "Consent-ConsentByRelatedPersonExample": {
                    "$ref": "#/components/examples/Consent-ConsentByRelatedPersonExample"
                  },
                  "Consent-ConsentExample": {
                    "$ref": "#/components/examples/Consent-ConsentExample"
                  },
                  "Consent-ProvisionalConsentExample": {
                    "$ref": "#/components/examples/Consent-ProvisionalConsentExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful read operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful read operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful read operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful read operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Consent.r"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete Consent",
        "description": "Delete Consent",
        "tags": [
          "Consent"
        ],
        "operationId": "deleteConsent",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source-reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful delete operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful delete operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful delete operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful delete operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful delete operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Consent.d"
            ]
          }
        ]
      },
      "put": {
        "summary": "Update Consent",
        "description": "Update Consent",
        "tags": [
          "Consent"
        ],
        "operationId": "updateConsent",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source-reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful update operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-nz-sharedcare-consent"
                    }
                  ]
                },
                "examples": {
                  "Consent-ConsentByQuestionnaireExample": {
                    "$ref": "#/components/examples/Consent-ConsentByQuestionnaireExample"
                  },
                  "Consent-ConsentByRelatedPersonExample": {
                    "$ref": "#/components/examples/Consent-ConsentByRelatedPersonExample"
                  },
                  "Consent-ConsentExample": {
                    "$ref": "#/components/examples/Consent-ConsentExample"
                  },
                  "Consent-ProvisionalConsentExample": {
                    "$ref": "#/components/examples/Consent-ProvisionalConsentExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful update operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful update operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful update operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful update operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Consent to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/StructureDefinition-nz-sharedcare-consent"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Consent.u"
            ]
          }
        ]
      }
    },
    "/Consent/{rid}/_history/{vid}": {
      "get": {
        "summary": "Read Consent (versioned)",
        "description": "Read Consent (versioned)",
        "tags": [
          "Consent"
        ],
        "operationId": "vreadConsent",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource version id",
            "name": "vid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source-reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful vread operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-nz-sharedcare-consent"
                    }
                  ]
                },
                "examples": {
                  "Consent-ConsentByQuestionnaireExample": {
                    "$ref": "#/components/examples/Consent-ConsentByQuestionnaireExample"
                  },
                  "Consent-ConsentByRelatedPersonExample": {
                    "$ref": "#/components/examples/Consent-ConsentByRelatedPersonExample"
                  },
                  "Consent-ConsentExample": {
                    "$ref": "#/components/examples/Consent-ConsentExample"
                  },
                  "Consent-ProvisionalConsentExample": {
                    "$ref": "#/components/examples/Consent-ProvisionalConsentExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful vread operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful vread operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful vread operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful vread operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Consent.r"
            ]
          }
        ]
      }
    },
    "/Consent": {
      "get": {
        "summary": "Search for Consent",
        "description": "Search for Consent",
        "tags": [
          "Consent"
        ],
        "operationId": "searchConsent",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source-reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resourceType": {
                      "type": "string",
                      "enum": [
                        "Bundle"
                      ],
                      "description": "Resource type must be a Bundle."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "searchset"
                      ],
                      "description": "The type of response (e.g., transaction-response or batch-response)."
                    },
                    "entry": {
                      "type": "array",
                      "description": "Entries in the bundle representing resources involved in the interaction.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "resource": {
                            "type": "object",
                            "description": "A resource in the bundle.",
                            "anyOf": [
                              {
                                "$ref": "#/components/schemas/StructureDefinition-nz-sharedcare-consent"
                              }
                            ]
                          },
                          "fullUrl": {
                            "type": "string",
                            "description": "The full url of the resource"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful search operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful search operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful search operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful search operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Consent.s"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create Consent",
        "description": "Create Consent",
        "tags": [
          "Consent"
        ],
        "operationId": "createConsent",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source-reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful create operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-nz-sharedcare-consent"
                    }
                  ]
                },
                "examples": {
                  "Consent-ConsentByQuestionnaireExample": {
                    "$ref": "#/components/examples/Consent-ConsentByQuestionnaireExample"
                  },
                  "Consent-ConsentByRelatedPersonExample": {
                    "$ref": "#/components/examples/Consent-ConsentByRelatedPersonExample"
                  },
                  "Consent-ConsentExample": {
                    "$ref": "#/components/examples/Consent-ConsentExample"
                  },
                  "Consent-ProvisionalConsentExample": {
                    "$ref": "#/components/examples/Consent-ProvisionalConsentExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful create operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful create operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful create operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful create operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Consent to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/StructureDefinition-nz-sharedcare-consent"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Consent.c"
            ]
          }
        ]
      }
    },
    "/Encounter/{rid}": {
      "get": {
        "summary": "Read Encounter",
        "description": "Read Encounter",
        "tags": [
          "Encounter"
        ],
        "operationId": "readEncounter",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful read operation",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StructureDefinition-ManaakiNgaTahiEncounter"
                    }
                  ]
                },
                "examples": {
                  "Encounter-EncounterExample": {
                    "$ref": "#/components/examples/Encounter-EncounterExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsuccessful read operation - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "401": {
            "description": "Unsuccessful read operation - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful read operation - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          },
          "500": {
            "description": "Unsuccessful read operation - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/alt-fhir-oas-flattened/OperationOutcome-definition.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "smartOnFhir": [
              "system/Encounter.r"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete Encounter",
        "description": "Delete Encounter",
        "tags": [
          "Encounter"
        ],
        "operationId": "deleteEncounter",
        "parameters": [
          {
            "name": "Correlation-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "$ref": "https://raw.githubusercontent.com/tewhatuora/schemas/main/fhir-definitions-oas/uuid-definition.json"
            }
          },
          {
            "description": "Resource id",
            "name": "rid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "schema": {
[...]
